.weather-app {
  box-sizing: border-box;
  max-width: fit-content;
  margin: auto;
  border-radius: 25px;
  box-shadow: 0 30px 50px #41326414;
  background: aliceblue;
  font-style: sedan-regular;
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
  padding: 0 0 30px 0;
}
.city-search {
  text-align: center;
  font-size: medium;
  border-bottom: 1px solid #f9f7fe;
  margin-top: 30px;
  padding-bottom: 20px;
  padding: 40px;
  border-radius: 16px;
  margin-bottom: 0px;
}
.search-button {
  color: black;
  font-style: sedan-regular;
  font-family: "Sedan", serif;
  font-weight: 400px;
  font-style: normal;
  font-size: medium;
  background-color: white;
  border-radius: 60px;
  border-color: azure;
  height: 50px;
  border: none;
  width: 30%;
  padding: 10px;
}
.search-input {
  background-color: white;
  color: #878787;
  font-style: sedan-regular;
  font-size: medium;
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
  padding: 20px;
  border: none;
  border-radius: 75px;
  height: 50px;
  max-width: 100%;
  width: 50%;
}
.search-button:hover {
  background-color: #a1caf1;
}
