ul {
  padding: 0;
  flex-direction: row;
  list-style-type: disc;
  margin-block-start: 16px;
  margin-block-end: 16px;
}
li {
  list-style: none;
  font-size: 18px;
  color: black;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
p.humidity-wind-section {
  text-align: right;
  list-style: none;
  font-size: 17px;
  font-weight: 300;
  color: black;
  margin-right: 200px;
}
p.current-day-information {
  text-align: center;
  color: black;
}
.day-temperature-icon {
  text-align: right;
  list-style: none;
  font-size: 25px;
  margin-right: 250px;
  margin-left: 250px;
  color: black;
}
p.current-day-information strong {
  color: palevioletred;
}
img.weather-icon {
  margin-left: 220px;
  margin-right: 200px;
  height: 150px;
  margin-top: 0px;
}
