body {
  color: #a1caf1;
}
h1.current-city {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
}
footer {
  text-align: center;
  color: black;
  padding: 20px, 0 0 0;
  border-top: 1px solid;
  font-style: sedan-regular;
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}
.current-temperature {
  text-align: center;
  list-style: none;
  color: black;
  font-size: 38px;
  font-weight: bolder;
}
