h1.current-city {
  color: blue;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
}
ul {
  padding: 0;
}

li {
  list-style: none;
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  max-width: 400px;
  margin: 0 auto;
}
p.humidity-wind-section {
  text-align: right;
  list-style: none;
  font-size: 18px;
  font-weight: 300;
}
.current-temperature {
  text-align: center;
  list-style: none;
  font-size: 18px;
}
p.current-day-information {
  text-align: center;
}
.day-temperature-icon {
  text-align: right;
  list-style: none;
}
footer {
  text-align: center;
}
